.header{height: 100px;
    background-color: blue;
}
.container{
    width: 1200px ;
    margin: 0 auto;
    background-color: beige;
}
.header-content{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.part-1{
   
    color: rgb(0, 0, 0);
}
.part-2{
    color: red;
}