@import url('https://fonts.cdnfonts.com/css/gilam');
@import url('https://fonts.cdnfonts.com/css/circe');


body {
    background: #171717;
}

.wrapper {
   width: 1072px;
   margin: auto;
   padding-top: 46px;
   
}

.banner-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

.banner-button-img {
    width: 13px;
    height: 13px;
}

.banner-button {
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.banner-button-text {
    width: 144px;
    height: 30px;
    left: 1521px;
    top: 47px;

    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.top-main-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    white-space: nowrap;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.top-extra-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.top-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-bottom: 161px;
}

.top-item-grid {
    display: grid;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    
    text-align: center;
    
    color: #FFFFFF;
}


.top-item-1 {
    grid-area: 1 / 1 / 2 / 3;
    align-items: center;
    background: #634F2C;

}

.top-item-2 {
    grid-area: 1 / 3 / 2 / 5;

    align-items: center;
    background: #B4A385;
}

.top-item-3 {
    grid-area: 1 / 5 / 2 / 7;

    align-items: center;
    background: #E4B564;
}

.top-item-4 {
    grid-area: 2 / 1 / 3 / 4;
    align-items: center;
    background: #635A4A;
}

.top-item-5 {
    grid-area: 2 / 4 / 3 / 7;
    align-items: center;
    background: #B08C4D;
}

.bottom-main-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    /* identical to box height, or 56% */


    color: #FFFFFF;
    margin-bottom: 94px;

}

.bottom-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 133px);
    grid-column-gap: 30px;
    grid-row-gap: 24px;
}

.bottom-item-grid {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;

    padding-left: 50px;
    padding-top: 44px;
    
}

.bottom-item-1 {
    grid-area: 1 / 1 / 3 / 2;
    background: #0E0E0E;
}

.bottom-item-2 {
    grid-area: 3 / 1 / 7 / 2;
    background: #1F1F1F;
}

.bottom-item-3 {
    grid-area: 1 / 2 / 4 / 3;
    background: #242424;
}

.bottom-item-4 {
    grid-area: 4 / 2 / 7 / 3;
    background: #E4B564;
    color: #000000;
}

.bottom-item-5 {
    grid-area: 1 / 3 / 3 / 4;
    background: #1F1F1F;
}

.bottom-item-6 {
    grid-area: 3 / 3 / 5 / 4;
    background: #0E0E0E;
}

.bottom-item-7 {
    grid-area: 5 / 3 / 7 / 4;
    background: #0A0909;
}

.main-conteiner {
    margin-bottom: 363px;
}

.footer-wrapper {

    background-color: #000000;
    padding-top: 172px;
    margin-bottom: 238px;
    
}

.footer-content {
    width: 1072px;
    margin: auto;
    padding-top: 46px;
}



.footer-project-title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    /* identical to box height, or 56% */
    
    
    color: #FFFFFF;
}

.footer-project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.footer-project-href {
    align-items: center;
    text-decoration: none;
}

.footer-button-projects {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    
    
    color: #E4B564;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-grid-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 350px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    margin-bottom: ;
}

.footer-item-grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

.footer-item-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #634F2C;
}

.footer-item-2 {
    grid-area: 1 / 2 / 2 / 3;
    background: rgba(232, 210, 171, 0.76);
}

.footer-item-3 {
    grid-area: 1 / 3 / 2 / 4;
    background: #E4B564;
}

.footer-item-4 {
    grid-area: 2 / 1 / 3 / 2;
    background: #635A4A;
}

.footer-item-5 {
    grid-area: 2 / 2 / 3 / 3;
    background: #B08C4D;
}

.footer-item-6 {
    grid-area: 2 / 3 / 3 / 4;
    background: #634F2C;
}

.footer-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* or 127% */

    text-align: center;

    color: #FFFFFF;
}
